<div class =>
  <div class="content_post_detail">
      <div>
        <p class="show-title"><%= @post.title %></p>
        <p class="show-text"><%= @post.text %></p>
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <ul class="show-btn">
        <li>
          <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/posts/#{@post.id}", method: :delete %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
      <div class="user">
    <a href="/users/<%= @post.user.id %>">
    <span>投稿者</span><%= @post.user.nickname %></a>
    </div>
</div>