<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://use.typekit.net/gsq5bqi.css">
    <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> %>
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> %>
    <%# <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script> %>
          
  </head>

  <body>
  <nav class="header">
    <div class="header-wrapper">
      <div class="logo-wrapper">
      <a href="#" class="logo">No.BLOG</a>
      <a class="head-line">文字数でみるブログ</a></div>
      <div class="btn-wrapper">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'user-btn' %>
        <a href="/posts/new" class="user-btn">投稿する</a>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: 'user-btn' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'user-btn' %>
      <% end %>
      </div>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
